body{
  font-size: 1.5rem;
  text-align: center;
}

.withoutsizing{
  display: block;
  height: 200px;
  width: 200px;
  border: 3px solid black;
  
}

.borderbox{
  display: block;
  height: 200px;
  width: 200px;
  border: 3px solid red;
  box-sizing: border-box;
}

.contentbox{
  display: block;
  height: 300px;
  width: 300px;
  border: 3px solid green;
  box-sizing: content-box;
}

.contentbox > img{
  border: 3px solid black;
}
